<%- include("partial/head") %>

		<%- include("partial/navbar") %>
		
	<h1>EJS express javascript templating</h1>
	<h1>Home Page</h1>


	<!-- <%=  %>   use to embed js-->
	<p>it's a tag for js embedding <%= 2 + 5 %> </p>
     <p>uppercase <%= "Hello".toUpperCase() %> </p>


	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est magnam voluptate fugiat laborum itaque voluptatem quidem sunt vero ea, sed delectus, eveniet, sit. Non, dolores soluta tenetur ea delectus facilis?</p>
	
<%- include("partial/footer") %>